HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
src/main/webapp/

.DS_store

src/main/resources/.gitignore
src/main/resources/application.properties
src/main/resource/*.properties
src/main/resources/application.properties.bak
src/main/resources/data.sql

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
src/main/java/com/rabhareit/.DS_Store
*.json
