HELP.md

### Tailing ###
/target/
!.mvn/wrapper/maven-wrapper.jar
src/main/webapp/

.DS_store
.env
application.properties
*.json
*.json.bak
*.bak

/remind/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
*.json
