.limit {
  vertical-align: baseline;
}

.regist {
  margin-bottom: 40px;
}

input[type="date"] {
  display: inline;
  position: relative;
  padding: 0 10px;
  width: 200px;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: #999;
  padding: 8px 4px 6px 4px;
  width: 256px;
  left: 12px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}
input[type="date"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}

textarea {
  resize: none;
  vertical-align: top;
  padding: 2px;
  border: 1px solid #8a8a8a;
}

textarea:focus {
  outline: none;
}
